* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// General looks, navbar & Homepage Styles

body {
  background-color: black;
  background-size: 20px 20px;
  max-width: 1280px;
  height: 720px;
  margin: 0 auto;
}

h2{color: aliceblue;}

.bg-container{
  width: 100%;
  height: 720px;
  border: 1px solid #000;
  position: relative;
  .content{
    position: absolute;
    z-index:999;
    text-align: center;
    width: 100%;
    color: white;
    .main-desc {
      font-size: 66.6px;
      max-width: 200px;
      margin-left: 30px;
      padding-top: 77px;
      color: #ffffff;
    }
  }
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;
    background-image: url("https://i.ytimg.com/vi/Cs1VRhpcMOc/maxresdefault.jpg");
    background-size: cover;
    opacity: .7;
  }
}

.logo {
  font-family: 'Sedgwick Ave Display', cursive;
  cursor: pointer;
  color: rgba(248, 113, 24, .8);
  &:hover {
    transition: all .3s ease 0;
    color: rgb(231, 138, 31);
  }
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: aliceblue;
  text-decoration: none;
}

header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 30px 10%;
  background-color: black;
}

.nav_links {
  list-style: none;
  li {
    display: inline-block;
    padding: 0 20px;
    button {
      transition: all .3s ease 0;
      &:hover {
        transition: all 03s ease 0;
        color: rgba(248, 113, 24, .8);
        cursor: pointer;
      }
    }
  }
}

#contact{
  padding: 9px 25px;
  background-color: rgba(248, 113, 24, .8);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all .3s ease 0;
  &:hover {
    background-color: rgb(231, 138, 31);
  }
}

button {
  font-size: 100%;
  background-color: black;
  border: none;
}

// Styles for contact form:

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #45a049;
  }
}

.contact-container {
  border-radius: 5px;
  color: aliceblue;
  background-color: rgb(71, 73, 82);
  padding: 20px;
  width: 70%;
  margin: 20px auto;
}

// Styles for About:

article {
  color: aliceblue;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;
  background-color: rgb(71, 73, 82);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

// Styles for Menus:

.food-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 20px;
  h2, h3 {margin: 10px 11px;}
  h3 {color: rgba(248, 113, 24, .8);}
  p {
    margin: 0 11px;
    margin-top: -9px;
    color: #777;}
  .food {
    display: flex;
    justify-content: space-between;
  }
}
